body {
  margin: 0;
  padding: 0;
  color: rgb(156, 35, 167);
  box-sizing: border-box;
  font-family: monospace;
  font-size: 15px;
  background-image: url('stars.jpeg');
}
.grid-container {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-template-rows: 50px 2fr 1fr;
  grid-template-areas:
    'aside main'
    'aside main'
    'aside main';
  height: 100vh;
}

.aside {
  grid-area: aside;
  background-color: gray;
}

.main {
  grid-area: main;
  /*background-color: white;*/
  background-image: url('marsimage.jpg');
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

/* flexing aside */
.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 125px;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transform: translateX(-245px);
}

.aside.active {
  transform: translateX(0);
}

.aside_list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.aside_list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}

.aside_list-item:hover {
  background-color: royalblue;
  cursor: pointer;
}

/* Layout for main content overview  and its cards*/
.main_overview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* border-bottom: 1px solid rgb(144, 238, 147); */
}
.overview_card {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: seagreen; */
  height: 100px;
  border: 1px solid rgb(70, 70, 79);
  border-radius: 4px;
  color: rgb(62, 82, 59);
  background-color: white;
}
/* Layout for main-cards section // below main_overview */
.main_cards {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  /*grid-template-rows: 500px 200px 300px;*/
  grid-template-rows: 2fr 1fr 3fr;
  grid-template-areas:
    'card1'
    'card2'
    'card3'
    'card4';
  grid-gap: 10px;
}
.card {
  padding: 20px;
  border: 1px solid rgb(50, 49, 48);
  border-radius: 4px;
  color: rgb(106, 30, 16);
  background-color: white;
}

/* overlay stuff*/
.image_overlay1 {
  margin-top: 0%;

  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 84%;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  padding: 5%;
  border-radius: 2px;
}

.image_overlay1 > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay1:hover > * {
  transform: translateY(0);
}

.image_overlay1:hover {
  opacity: 1;
}

.project1 {
  position: relative;
  font-family: sans-serif;
}

.project1 a {
  text-decoration: underline;
  color: #ffffff;
  font-weight: bold;
}

.card:first-child {
  grid-area: card1;
}
.card:nth-child(2) {
  grid-area: card2;
}
.card:nth-child(3) {
  grid-area: card3;
}
.card:nth-child(4) {
  grid-area: card4;
}

.cardNews .search {
  display: block;
  text-align: center;
  margin-bottom: 2px;
}

/* responsive layout */
@media only screen and (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
      'aside main'
      'aside main'
      'aside main';
    height: 100vh;
  }

  .aside {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(0);
  }

  .main_cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 200px 400px;
    grid-template-areas:
      'card1 card2 card3'
      'card1 card4 card4';
    grid-gap: 10px;
  }
}

.menu-icon {
  position: fixed;
  display: flex;
  top: 2px;
  left: 8px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  color: black;
}

.aside_close-icon {
  position: absolute;
  visibility: visible;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .aside_close-icon {
    display: none;
  }
}
