.weather_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
}

.weather_box > .date {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.weather_box > .date_unit {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.weather_box > .high_title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.weather_box > .high_value {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.weather_box > .low_title {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.weather_box > .low_value {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.weather_box > .pressure_title {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.weather_box > .pressure_value {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.weather_box > .atmo_title {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.weather_box > .atmo_value {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.weather_box > .uv_title {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.weather_box > .uv_value {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

#line-chart {
  /*
  background-image: linear-gradient(
    30deg,
    rgb(50, 36, 77),
    rgb(117, 59, 82),
    rgb(189, 94, 68)
  );
  */
  background-color: rgb(50, 36, 77);
}

.time_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(10px, auto);
}

.time_box > .airy_mean_time {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.time_box > .mars_time {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
  font-size: 32px;
}

.time_box > .mars_date_title {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.time_box > .mars_date {
  grid-column: 3 / 5;
  grid-row: 4 / 5;
}

.time_box > .gale_title {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.time_box > .gale_time {
  grid-column: 3 / 5;
  grid-row: 5 / 6;
}

.time_box > .green_title {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

.time_box > .green_time {
  grid-column: 3 / 5;
  grid-row: 6 / 7;
}

.time_box > .earth_title {
  grid-column: 2 / 4;
  grid-row: 7 / 8;
}

.time_box > .earth_date {
  grid-column: 1 / 5;
  grid-row: 8 / 9;
}
